.main-menu .main-menu__list>li+li,
.stricky-header .main-menu__list>li+li {
  margin-left: 30px !important;
}

.main-menu .main-menu__list,
.main-menu .main-menu__list ul,
.stricky-header .main-menu__list,
.stricky-header .main-menu__list ul {
  margin-left: 0px !important;
}

.bannertxthero {
  position: absolute;
  top: 38%;
  left: 5%;
  z-index: 11;
}

.banner-heading {
  width: 350px;
  height: 150px;
}

.btntxt-hero-btn {
  display: flex;
  vertical-align: middle;
  width: 80%;
}

.btnContainerdiv {
  margin: 0 10px;
}

.heroBtn {
  color: #000 !important;
  background: rgb(251, 158, 61);
  background: linear-gradient(106deg, rgba(251, 158, 61, 1) 19%, rgba(255, 197, 60, 1) 74%);
  padding: 10px 20px !important;
  border-radius: 50px !important;
}

.banner-heading h2 {
  font-size: 35px;
  color: #f6f6f6;
  padding-bottom: 50px;
}

.box1 {
  width: 100%;
  background-color: #fff;
  margin: 5px 0;
  padding: 20px 10px;
  border-radius: 5px;
}

.hero-form {
  position: absolute;
  z-index: 11;
  width: 25%;
}

.form-dev {
  margin-top: 30%;
  padding: 25px;
  /* background-color: #fff; */
  background: linear-gradient(106deg, rgba(251, 158, 61, 1) 19%, rgba(255, 197, 60, 1) 74%);
}

.form-inputs {
  width: 100%;
  padding: 10px 10px;
  color: #fff;
}

.form-inputs::placeholder {
  color: red;
  opacity: 1;
}

.checkbox-div {
  display: flex;
}

.form-checkbox {
  width: 18px;
}

.checkbox-div label {
  font-size: 12px;
  margin: 10px;
}

.btn-submit {
  /* background-color: #05377a !important; */
  background: rgb(251, 158, 61);
  background: linear-gradient(106deg, rgba(251, 158, 61, 1) 19%, rgba(255, 197, 60, 1) 74%);
  color: #000000 !important;
  border-radius: 20px !important;
  padding: 5px 35px !important;
  border: 1px solid #ffffff !important;
}

.btn-submit:hover {
  background-color: #274c7c !important;
  color: #fff !important;
}

.tclink {
  color: rgb(255, 174, 0);
}

.CardWDnew {
  height: auto;
  text-align: center;
  border: 1.5px solid #023878;
  background-color: #ffffff;
  margin: 5px;
  padding: 15px 10px;
  border-radius: 10px;
}

.wdiconsnew {
  width: 80px;
  height: 80px;
  color: #023878;
}

.boxContainerMainSEOservnew .boxContainerSEOservnew {
  width: 100%;
  color: #100f12;
  border: 1.5px solid #023878;
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
  margin: 10px 0;
  padding: 5px;
}

.boxContainerMainSEOservnew .boxContainerSEOservnew:hover {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

.boxContainerSEOservnew h1 {
  font-size: 22px;
  color: #023878;
}

.ImgTxtSecSeoinfonew {
  width: 100%;
  text-align: justify;
}

.ImgTxtSecSeo-pagenew {
  width: 100%;
}

.ImgTxtSecSeo-pagenew h1 {
  width: 100%;
  text-align: center;
  font-size: 50px;
  border-bottom: 3px solid #023878;
  margin: 20px 0;
}

.seoweb {
  text-align: justify;
}

/* --------------form start---------------- */

.EnquiryForm input[type=email],
.EnquiryForm input[type=tel],
.EnquiryForm input[type=text],
.EnquiryForm select {
  height: auto;
  width: 100%;
  border: none;
  background-color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  /* margin-bottom: 20px; */
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
  font-size: 16px;
  color: #747474;
  display: block;
}

label {
  width: 100%;
}

.form-dev h5 {
  text-align: center;
}

/* .form-dev-enquiry{
  padding:20%;
} */
.form-dev-enquiry .form-dev {
  margin-top: 10% !important;
  width: 77%;
  margin-left: 10%;
}


.form-group.formlefttxt {
  width: auto;
  height: auto;
  display: block;
  margin-top: 13px !important;
  margin-bottom: 0px;
}

/* --------------form end---------------- */

/* components/Carousel.module.css */
.carouselContainer {
  width: 80%;
  margin: 0 auto;
}

.slide {
  text-align: center;
}

.image {
  width: 100%;
  height: auto;
}

.viewallservice-btn {
  text-align: center;
}

.sidebar-para {
  color: #fff;
}

.services-all-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  column-gap: 10px;
}

.services-cardsnew {
  text-align: center;
  border: 1px solid #023878;
  height: 350px;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
}

.services-cardsnew:hover {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

.graphic-crd-btn {
  text-align: center;
}